In [1]:
import pandas as pd
import random
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.functions import to_timestamp
from pyspark.sql.functions import when
import pyspark.sql.functions as sf
import os
from pyspark.sql.functions import lit
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql.functions import *

spark = SparkSession.builder.config('spark.driver.memory','4g').getOrCreate()

In [13]:
df = pd.read_csv("D:\\KQ\\result\\output.csv\\content.csv")

In [22]:
df_2 = spark.read.csv("D:\\OUTPUTDATA\\search.csv",header = True)

In [4]:
import numpy as np

In [5]:
user_id_list = np.unique(df_2['user_id'])

In [6]:
user_id_list

array([    3266,     4908,    14111, ..., 99975998, 99983739, 99996333],
      dtype=int64)

In [14]:
df["user_id"] = df.apply(lambda row: random.choice(user_id_list), axis=1)

In [15]:
df

,Contract,Date,RelaxDuration,MovieDuration,ChildDuration,SportDuration,TVDuration,Most_Watch,Customer_Taste,Number_Active_Date,Activeness,user_id
0,113.182.209.48,20220401,89,0,0,0,63,Relax,"Relax,TV",1,3.33,2042006
1,14.182.110.125,20220410,92,0,0,0,404,TV,"Relax,TV",1,3.33,97135212
2,AGAAA0338,20220403,0,0,0,0,8894,TV,TV,30,100.00,8501611
3,AGAAA0338,20220417,0,0,0,0,11113,TV,TV,30,100.00,90702505
4,AGAAA0338,20220404,0,0,0,0,5971,TV,TV,30,100.00,97930092
...,...,...,...,...,...,...,...,...,...,...,...,...
39807161,YBFD11448,20220419,0,6964,0,0,29897,TV,"Movie,TV",30,100.00,92000059
39807162,YBFD11448,20220428,0,0,0,0,21676,TV,TV,30,100.00,95460755
39807163,YBFD11448,20220425,0,0,0,0,31313,TV,TV,30,100.00,7426269
39807164,YBFD11448,20220430,0,0,0,0,40276,TV,TV,30,100.00,93204363
39807165,YBFD11448,20220420,0,0,0,0,37649,TV,TV,30,100.00,43956766

In [16]:
df.columns

Index(['Contract', 'Date', 'RelaxDuration', 'MovieDuration', 'ChildDuration',
       'SportDuration', 'TVDuration', 'Most_Watch', 'Customer_Taste',
       'Number_Active_Date', 'Activeness', 'user_id'],
      dtype='object')

In [17]:
new_df = df[['user_id','Contract', 'Date', 'RelaxDuration', 'MovieDuration', 'ChildDuration',
       'SportDuration', 'TVDuration', 'Most_Watch', 'Customer_Taste',
       'Number_Active_Date', 'Activeness']]

In [18]:
new_df

,user_id,Contract,Date,RelaxDuration,MovieDuration,ChildDuration,SportDuration,TVDuration,Most_Watch,Customer_Taste,Number_Active_Date,Activeness
0,2042006,113.182.209.48,20220401,89,0,0,0,63,Relax,"Relax,TV",1,3.33
1,97135212,14.182.110.125,20220410,92,0,0,0,404,TV,"Relax,TV",1,3.33
2,8501611,AGAAA0338,20220403,0,0,0,0,8894,TV,TV,30,100.00
3,90702505,AGAAA0338,20220417,0,0,0,0,11113,TV,TV,30,100.00
4,97930092,AGAAA0338,20220404,0,0,0,0,5971,TV,TV,30,100.00
...,...,...,...,...,...,...,...,...,...,...,...,...
39807161,92000059,YBFD11448,20220419,0,6964,0,0,29897,TV,"Movie,TV",30,100.00
39807162,95460755,YBFD11448,20220428,0,0,0,0,21676,TV,TV,30,100.00
39807163,7426269,YBFD11448,20220425,0,0,0,0,31313,TV,TV,30,100.00
39807164,93204363,YBFD11448,20220430,0,0,0,0,40276,TV,TV,30,100.00
39807165,43956766,YBFD11448,20220420,0,0,0,0,37649,TV,TV,30,100.00

In [20]:
df = spark.read.csv("CustomerData.csv",header = True)

In [21]:
df.show()

+--------+--------------+--------+-------------+-------------+-------------+-------------+----------+----------+--------------+------------------+----------+
| user_id|      Contract|    Date|RelaxDuration|MovieDuration|ChildDuration|SportDuration|TVDuration|Most_Watch|Customer_Taste|Number_Active_Date|Activeness|
+--------+--------------+--------+-------------+-------------+-------------+-------------+----------+----------+--------------+------------------+----------+
| 2042006|113.182.209.48|20220401|           89|            0|            0|            0|        63|     Relax|      Relax,TV|                 1|      3.33|
|97135212|14.182.110.125|20220410|           92|            0|            0|            0|       404|        TV|      Relax,TV|                 1|      3.33|
| 8501611|     AGAAA0338|20220403|            0|            0|            0|            0|      8894|        TV|            TV|                30|     100.0|
|90702505|     AGAAA0338|20220417|            0|            0|            0|            0|     11113|        TV|            TV|                30|     100.0|
|97930092|     AGAAA0338|20220404|            0|            0|            0|            0|      5971|        TV|            TV|                30|     100.0|
| 4594643|     AGAAA0338|20220425|            0|            0|            0|            0|      9805|        TV|            TV|                30|     100.0|
|93151365|     AGAAA0338|20220406|            0|            0|            0|            0|      3550|        TV|            TV|                30|     100.0|
|90914747|     AGAAA0338|20220429|            0|            0|            0|            0|     12606|        TV|            TV|                30|     100.0|
| 1013425|     AGAAA0338|20220401|            0|            0|            0|            0|      8895|        TV|            TV|                30|     100.0|
|49543653|     AGAAA0338|20220410|            0|            0|            0|            0|     12874|        TV|            TV|                30|     100.0|
|41460386|     AGAAA0338|20220426|            0|            0|            0|            0|      6504|        TV|            TV|                30|     100.0|
|47266194|     AGAAA0338|20220423|            0|            0|            0|            0|     10765|        TV|            TV|                30|     100.0|
|92753912|     AGAAA0338|20220419|            0|            0|            0|            0|      9739|        TV|            TV|                30|     100.0|
|90049456|     AGAAA0338|20220420|            0|            0|            0|            0|     12625|        TV|            TV|                30|     100.0|
| 9048602|     AGAAA0338|20220407|            0|            0|            0|            0|      6259|        TV|            TV|                30|     100.0|
|49998432|     AGAAA0338|20220428|            0|            0|            0|            0|      5717|        TV|            TV|                30|     100.0|
|40336237|     AGAAA0338|20220415|            0|            0|            0|            0|      9357|        TV|            TV|                30|     100.0|
|44948327|     AGAAA0338|20220409|            0|            0|            0|            0|     12759|        TV|            TV|                30|     100.0|
|96037257|     AGAAA0338|20220408|            0|            0|            0|            0|     10939|        TV|            TV|                30|     100.0|
| 8971862|     AGAAA0338|20220421|            0|            0|            0|            0|     10738|        TV|            TV|                30|     100.0|
+--------+--------------+--------+-------------+-------------+-------------+-------------+----------+----------+--------------+------------------+----------+
only showing top 20 rows

In [23]:
df = df.join(df_2,on='user_id',how='inner')

In [24]:
df.show()

+--------+--------------+--------+-------------+-------------+-------------+-------------+----------+----------+--------------+------------------+----------+--------------------+------------+--------------------+-----------+-------------+--------------------+
| user_id|      Contract|    Date|RelaxDuration|MovieDuration|ChildDuration|SportDuration|TVDuration|Most_Watch|Customer_Taste|Number_Active_Date|Activeness|      Most_Search_T6| CATEGORY_T6|      Most_Search_T7|CATEGORY_T7|Trending_Type|            Previous|
+--------+--------------+--------+-------------+-------------+-------------+-------------+----------+----------+--------------+------------------+----------+--------------------+------------+--------------------+-----------+-------------+--------------------+
| 2042006|113.182.209.48|20220401|           89|            0|            0|            0|        63|     Relax|      Relax,TV|                 1|      3.33|         running man|Reality Show|         running man|    TV Show|      Changed|Reality Show to T...|
|97135212|14.182.110.125|20220410|           92|            0|            0|            0|       404|        TV|      Relax,TV|                 1|      3.33|     minh lan truyện|   TV Series|ngọt ngào dành ri...|  TV Series|    Unchanged|           Unchanged|
| 8501611|     AGAAA0338|20220403|            0|            0|            0|            0|      8894|        TV|            TV|                30|     100.0|Liên Minh Công Lý...|       Movie|Liên Minh Công Lý...|     Sports|      Changed|     Movie to Sports|
|90702505|     AGAAA0338|20220417|            0|            0|            0|            0|     11113|        TV|            TV|                30|     100.0|cuối cùng cũng đế...|   TV Series|em đẹp nhất là kh...|  TV Series|    Unchanged|           Unchanged|
|97930092|     AGAAA0338|20220404|            0|            0|            0|            0|      5971|        TV|            TV|                30|     100.0|cẩm tú duyên hoa ...|   TV Series|vô tình nhặt được...|      Movie|      Changed|  TV Series to Movie|
| 4594643|     AGAAA0338|20220425|            0|            0|            0|            0|      9805|        TV|            TV|                30|     100.0|                mộng|   TV Series|mặt trăng ôm mặt ...|  TV Series|    Unchanged|           Unchanged|
|93151365|     AGAAA0338|20220406|            0|            0|            0|            0|      3550|        TV|            TV|                30|     100.0|   cuộc đời đầu tiên|   TV Series|   chú ơi em yêu anh|  TV Series|    Unchanged|           Unchanged|
|90914747|     AGAAA0338|20220429|            0|            0|            0|            0|     12606|        TV|            TV|                30|     100.0|nhất kiến khuynh tâm|   TV Series|tại sao lại là oh...|  TV Series|    Unchanged|           Unchanged|
| 1013425|     AGAAA0338|20220401|            0|            0|            0|            0|      8895|        TV|            TV|                30|     100.0|        mộng hoa lục|   TV Series|     pháp y tần minh|  TV Series|    Unchanged|           Unchanged|
| 1013425|     AGAAA0338|20220401|            0|            0|            0|            0|      8895|        TV|            TV|                30|     100.0|        mộng hoa lục|   TV Series|     pháp y tần minh|  TV Series|    Unchanged|           Unchanged|
|49543653|     AGAAA0338|20220410|            0|            0|            0|            0|     12874|        TV|            TV|                30|     100.0|              bolero|  Music Show|tôi thấy hoa vàng...|  TV Series|      Changed|Music Show to TV ...|
|41460386|     AGAAA0338|20220426|            0|            0|            0|            0|      6504|        TV|            TV|                30|     100.0|      bạn cùng phòng|   TV Series|      con tim sắt đá|  TV Series|    Unchanged|           Unchanged|
|47266194|     AGAAA0338|20220423|            0|            0|            0|            0|     10765|        TV|            TV|                30|     100.0|  thiên nga bóng đêm|   TV Series|   chú ơi em yêu anh|  TV Series|    Unchanged|           Unchanged|
|92753912|     AGAAA0338|20220419|            0|            0|            0|            0|      9739|        TV|            TV|                30|     100.0| nữ thanh tra tài ba|   TV Series|    tinh hán xán lạn|  TV Series|    Unchanged|           Unchanged|
|90049456|     AGAAA0338|20220420|            0|            0|            0|            0|     12625|        TV|            TV|                30|     100.0|làm sao, boss lại...|   TV Series|      cá mực hầm mật|  TV Series|    Unchanged|           Unchanged|
| 9048602|     AGAAA0338|20220407|            0|            0|            0|            0|      6259|        TV|            TV|                30|     100.0|        mộng hoa lục|   TV Series|     the sixth sense|      Movie|      Changed|  TV Series to Movie|
| 9048602|     AGAAA0338|20220407|            0|            0|            0|            0|      6259|        TV|            TV|                30|     100.0|        mộng hoa lục|   TV Series|     the sixth sense|      Movie|      Changed|  TV Series to Movie|
|49998432|     AGAAA0338|20220428|            0|            0|            0|            0|      5717|        TV|            TV|                30|     100.0|          fairy tail|       Anime|          fairy tail|      Anime|    Unchanged|           Unchanged|
|40336237|     AGAAA0338|20220415|            0|            0|            0|            0|      9357|        TV|            TV|                30|     100.0|           siêu nhân|       Movie|           siêu nhân|  TV Series|      Changed|  Movie to TV Series|
|44948327|     AGAAA0338|20220409|            0|            0|            0|            0|     12759|        TV|            TV|                30|     100.0|      jujutsu kaisen|       Anime|bạn trai tôi là h...|  TV Series|      Changed|  Anime to TV Series|
+--------+--------------+--------+-------------+-------------+-------------+-------------+----------+----------+--------------+------------------+----------+--------------------+------------+--------------------+-----------+-------------+--------------------+
only showing top 20 rows

In [33]:
df.repartition(1).write.csv("finaloutput.csv", header=True)

Py4JJavaError: An error occurred while calling o78758.csv.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 11 in stage 23.0 failed 1 times, most recent failure: Lost task 11.0 in stage 23.0 (TID 111) (HUNG executor driver): java.io.IOException: There is not enough space on the disk
	at java.base/java.io.FileOutputStream.writeBytes(Native Method)
	at java.base/java.io.FileOutputStream.write(FileOutputStream.java:367)
	at org.apache.spark.storage.TimeTrackingOutputStream.write(TimeTrackingOutputStream.java:59)
	at org.apache.spark.io.MutableCheckedOutputStream.write(MutableCheckedOutputStream.scala:43)
	at java.base/java.io.BufferedOutputStream.flushBuffer(BufferedOutputStream.java:125)
	at java.base/java.io.BufferedOutputStream.implWrite(BufferedOutputStream.java:222)
	at java.base/java.io.BufferedOutputStream.write(BufferedOutputStream.java:206)
	at net.jpountz.lz4.LZ4BlockOutputStream.flushBufferedData(LZ4BlockOutputStream.java:225)
	at net.jpountz.lz4.LZ4BlockOutputStream.write(LZ4BlockOutputStream.java:178)
	at java.base/java.io.BufferedOutputStream.flushBuffer(BufferedOutputStream.java:125)
	at java.base/java.io.BufferedOutputStream.implWrite(BufferedOutputStream.java:222)
	at java.base/java.io.BufferedOutputStream.write(BufferedOutputStream.java:200)
	at java.base/java.io.DataOutputStream.write(DataOutputStream.java:115)
	at org.apache.spark.sql.catalyst.expressions.UnsafeRow.writeToStream(UnsafeRow.java:519)
	at org.apache.spark.sql.execution.UnsafeRowSerializerInstance$$anon$1.writeValue(UnsafeRowSerializer.scala:69)
	at org.apache.spark.storage.DiskBlockObjectWriter.write(DiskBlockObjectWriter.scala:312)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:171)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:104)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:54)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1583)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2844)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2780)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2779)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2779)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1242)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1242)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1242)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3048)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2982)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2971)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
Caused by: java.io.IOException: There is not enough space on the disk
	at java.base/java.io.FileOutputStream.writeBytes(Native Method)
	at java.base/java.io.FileOutputStream.write(FileOutputStream.java:367)
	at org.apache.spark.storage.TimeTrackingOutputStream.write(TimeTrackingOutputStream.java:59)
	at org.apache.spark.io.MutableCheckedOutputStream.write(MutableCheckedOutputStream.scala:43)
	at java.base/java.io.BufferedOutputStream.flushBuffer(BufferedOutputStream.java:125)
	at java.base/java.io.BufferedOutputStream.implWrite(BufferedOutputStream.java:222)
	at java.base/java.io.BufferedOutputStream.write(BufferedOutputStream.java:206)
	at net.jpountz.lz4.LZ4BlockOutputStream.flushBufferedData(LZ4BlockOutputStream.java:225)
	at net.jpountz.lz4.LZ4BlockOutputStream.write(LZ4BlockOutputStream.java:178)
	at java.base/java.io.BufferedOutputStream.flushBuffer(BufferedOutputStream.java:125)
	at java.base/java.io.BufferedOutputStream.implWrite(BufferedOutputStream.java:222)
	at java.base/java.io.BufferedOutputStream.write(BufferedOutputStream.java:200)
	at java.base/java.io.DataOutputStream.write(DataOutputStream.java:115)
	at org.apache.spark.sql.catalyst.expressions.UnsafeRow.writeToStream(UnsafeRow.java:519)
	at org.apache.spark.sql.execution.UnsafeRowSerializerInstance$$anon$1.writeValue(UnsafeRowSerializer.scala:69)
	at org.apache.spark.storage.DiskBlockObjectWriter.write(DiskBlockObjectWriter.scala:312)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:171)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:104)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:54)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1583)

In [29]:
df.show()

+--------+--------------+--------+-------------+-------------+-------------+-------------+----------+----------+--------------+------------------+----------+--------------------+------------+--------------------+-----------+-------------+--------------------+
| user_id|      Contract|    Date|RelaxDuration|MovieDuration|ChildDuration|SportDuration|TVDuration|Most_Watch|Customer_Taste|Number_Active_Date|Activeness|      Most_Search_T6| CATEGORY_T6|      Most_Search_T7|CATEGORY_T7|Trending_Type|            Previous|
+--------+--------------+--------+-------------+-------------+-------------+-------------+----------+----------+--------------+------------------+----------+--------------------+------------+--------------------+-----------+-------------+--------------------+
| 2042006|113.182.209.48|20220401|           89|            0|            0|            0|        63|     Relax|      Relax,TV|                 1|      3.33|         running man|Reality Show|         running man|    TV Show|      Changed|Reality Show to T...|
|97135212|14.182.110.125|20220410|           92|            0|            0|            0|       404|        TV|      Relax,TV|                 1|      3.33|     minh lan truyện|   TV Series|ngọt ngào dành ri...|  TV Series|    Unchanged|           Unchanged|
| 8501611|     AGAAA0338|20220403|            0|            0|            0|            0|      8894|        TV|            TV|                30|     100.0|Liên Minh Công Lý...|       Movie|Liên Minh Công Lý...|     Sports|      Changed|     Movie to Sports|
|90702505|     AGAAA0338|20220417|            0|            0|            0|            0|     11113|        TV|            TV|                30|     100.0|cuối cùng cũng đế...|   TV Series|em đẹp nhất là kh...|  TV Series|    Unchanged|           Unchanged|
|97930092|     AGAAA0338|20220404|            0|            0|            0|            0|      5971|        TV|            TV|                30|     100.0|cẩm tú duyên hoa ...|   TV Series|vô tình nhặt được...|      Movie|      Changed|  TV Series to Movie|
| 4594643|     AGAAA0338|20220425|            0|            0|            0|            0|      9805|        TV|            TV|                30|     100.0|                mộng|   TV Series|mặt trăng ôm mặt ...|  TV Series|    Unchanged|           Unchanged|
|93151365|     AGAAA0338|20220406|            0|            0|            0|            0|      3550|        TV|            TV|                30|     100.0|   cuộc đời đầu tiên|   TV Series|   chú ơi em yêu anh|  TV Series|    Unchanged|           Unchanged|
|90914747|     AGAAA0338|20220429|            0|            0|            0|            0|     12606|        TV|            TV|                30|     100.0|nhất kiến khuynh tâm|   TV Series|tại sao lại là oh...|  TV Series|    Unchanged|           Unchanged|
| 1013425|     AGAAA0338|20220401|            0|            0|            0|            0|      8895|        TV|            TV|                30|     100.0|        mộng hoa lục|   TV Series|     pháp y tần minh|  TV Series|    Unchanged|           Unchanged|
| 1013425|     AGAAA0338|20220401|            0|            0|            0|            0|      8895|        TV|            TV|                30|     100.0|        mộng hoa lục|   TV Series|     pháp y tần minh|  TV Series|    Unchanged|           Unchanged|
|49543653|     AGAAA0338|20220410|            0|            0|            0|            0|     12874|        TV|            TV|                30|     100.0|              bolero|  Music Show|tôi thấy hoa vàng...|  TV Series|      Changed|Music Show to TV ...|
|41460386|     AGAAA0338|20220426|            0|            0|            0|            0|      6504|        TV|            TV|                30|     100.0|      bạn cùng phòng|   TV Series|      con tim sắt đá|  TV Series|    Unchanged|           Unchanged|
|47266194|     AGAAA0338|20220423|            0|            0|            0|            0|     10765|        TV|            TV|                30|     100.0|  thiên nga bóng đêm|   TV Series|   chú ơi em yêu anh|  TV Series|    Unchanged|           Unchanged|
|92753912|     AGAAA0338|20220419|            0|            0|            0|            0|      9739|        TV|            TV|                30|     100.0| nữ thanh tra tài ba|   TV Series|    tinh hán xán lạn|  TV Series|    Unchanged|           Unchanged|
|90049456|     AGAAA0338|20220420|            0|            0|            0|            0|     12625|        TV|            TV|                30|     100.0|làm sao, boss lại...|   TV Series|      cá mực hầm mật|  TV Series|    Unchanged|           Unchanged|
| 9048602|     AGAAA0338|20220407|            0|            0|            0|            0|      6259|        TV|            TV|                30|     100.0|        mộng hoa lục|   TV Series|     the sixth sense|      Movie|      Changed|  TV Series to Movie|
| 9048602|     AGAAA0338|20220407|            0|            0|            0|            0|      6259|        TV|            TV|                30|     100.0|        mộng hoa lục|   TV Series|     the sixth sense|      Movie|      Changed|  TV Series to Movie|
|49998432|     AGAAA0338|20220428|            0|            0|            0|            0|      5717|        TV|            TV|                30|     100.0|          fairy tail|       Anime|          fairy tail|      Anime|    Unchanged|           Unchanged|
|40336237|     AGAAA0338|20220415|            0|            0|            0|            0|      9357|        TV|            TV|                30|     100.0|           siêu nhân|       Movie|           siêu nhân|  TV Series|      Changed|  Movie to TV Series|
|44948327|     AGAAA0338|20220409|            0|            0|            0|            0|     12759|        TV|            TV|                30|     100.0|      jujutsu kaisen|       Anime|bạn trai tôi là h...|  TV Series|      Changed|  Anime to TV Series|
+--------+--------------+--------+-------------+-------------+-------------+-------------+----------+----------+--------------+------------------+----------+--------------------+------------+--------------------+-----------+-------------+--------------------+
only showing top 20 rows

In [36]:
df_test = df.take(1)

In [40]:
df.coalesce(1).write.format("csv").save("final.csv",header = True)